@model ISP_Biblioteka.ViewModels.UzsakymuIstorijaViewModel
@{
    ViewBag.Title = "Ataskaitų siuntimas";
}

<br>
<h2>Ataskaitų siuntimas</h2>

@if (Session["email"] != null)
{
    <br>
    <br>
    <div class="form-group">
        @Html.LabelFor(model => model.nuo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nuo, new { htmlAttributes = new { @class = "form-control date-picker" } })
            @Html.ValidationMessageFor(model => model.nuo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.iki, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.iki, new { htmlAttributes = new { @class = "form-control date-picker" } })
            @Html.ValidationMessageFor(model => model.iki, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.darbuotojas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.darbuotojas, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.DropDownListFor(model => model.darbuotojas, Model.DarbuotojaiList, "", new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.darbuotojas, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.valiuta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.valiuta, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.DropDownListFor(model => model.valiuta, Model.ValiutosList, "", new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.valiuta, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.numeris, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.numeris, new { htmlAttributes = new { @class = "form-control" } })
            @*Html.DropDownListFor(model => model.numeris, Model.NumeriaiList, "", new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.numeris, "", new { @class = "text-danger" })
        </div>
        <input class="btn btn-default" type="submit" value="Atrinkti">
    </div>

    <table class="table table-striped">
        <tr style="background-color:lightblue">
            <th>
                A
            </th>
            <th>
                B
            </th>
            <th>
                C
            </th>
            <th>
                D
            </th>
            <th>
                E
            </th>
        </tr>


    </table>
}

