@model ISP_Biblioteka.ViewModels.IsiskolineViewModel2
@{
    ViewBag.Title = "Įsiskolinę skaitytojai";
}

<br>
<br>
<h2>Įsiskolinę skaitytojai</h2>

@using (Html.BeginForm())
{
    <br>
    <br>
    @Html.LabelFor(model => model.period, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.period, Model.LaikotarpisList, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.period, "", new { @class = "text-danger" })
    </div>
    <input class="btn btn-default" type="submit" value="Atrinkti">

    <table class="table table-striped">
        <tr style="background-color:lightblue">
            <th>
                @Html.DisplayNameFor(model => model.isiskol[0].user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isiskol[0].book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isiskol[0].borrow_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isiskol[0].return_date)
            </th>
        </tr>

        @if (Model.isiskol.Count == 0)
        {
            <tr>
                <td colspan="4" align="center"><b style="color:red;">Nurodytu laikotaarpiu visi vartotojai buvo prisijungę</b></td>
            </tr>
        }

        @foreach (var item in Model.isiskol)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.book)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.borrow_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.return_date)
                </td>
            </tr>
        }

    </table>
}

