@model ISP_Biblioteka.ViewModels.KnyguStatistikaViewModel2
@{
    ViewBag.Title = "Knygų statistika";
}

<br>
<br>
<h2>Knygų statistika</h2>

@using (Html.BeginForm())
{
    <br>
    <br>
    <div class="form-group">
        @Html.LabelFor(model => model.year_from, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.year_from, new { htmlAttributes = new { @class = "form-control date-picker" } })
            @Html.ValidationMessageFor(model => model.year_from, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.year_to, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.year_to, new { htmlAttributes = new { @class = "form-control date-picker" } })
            @Html.ValidationMessageFor(model => model.year_to, "", new { @class = "text-danger" })
        </div>
    </div>
    <input class="btn btn-default" type="submit" value="Atrinkti">

    <table class="table table-striped">
        <tr style="background-color:lightblue">
            <th>
                @Html.DisplayNameFor(model => model.knyg[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.knyg[0].year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.knyg[0].pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.knyg[0].isbn)
            </th>
        </tr>

        @if (Model.knyg.Count == 0)
        {
            <tr>
                <td colspan="4" align="center"><b style="color:red;">Nurodytu laikotaarpiu visi vartotojai buvo prisijungę</b></td>
            </tr>
        }

        @foreach (var item in Model.knyg)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isbn)
                </td>
            </tr>
        }


    </table>
}

