@model ISP_Biblioteka.ViewModels.NeaktyvusViewModel
@{
    ViewBag.Title = "Neaktyvūs vartotojai";
}

<br>
<br>
<h2>Neaktyvūs vartotojai</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.period, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.fk_marke, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.period, Model.LaikotarpisList, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.period, "", new { @class = "text-danger" })
        </div>
        <input class="btn btn-default" type="submit" value="Atrinkti">
    </div>

    <table class="table table-striped">
        <tr style="background-color:lightblue">
            <th>
                @Html.DisplayNameFor(model => model.neaktyvus[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.neaktyvus[0].surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.neaktyvus[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.neaktyvus[0].last_login)
            </th>
        </tr>

        @if (Model.neaktyvus.Count == 0)
        {
            <tr>
                <td colspan="4" align="center"><b style="color:red;">Nurodytu laikotaarpiu visi vartotojai buvo prisijungę</b></td>
            </tr>
        }

        @foreach (var item in Model.neaktyvus)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_login)
            </td>
        </tr>
        }

    </table>
}

