@model ISP_Biblioteka.ViewModels.NeaktyvusViewModel
@{
    ViewBag.Title = "Neaktyvūs vartotojai";
}

<br>
<br>
<h2>Neaktyvūs vartotojai</h2>

@if (Session["email"] != null)
{
    <div class="form-group">
        @Html.LabelFor(model => model.laikotarpis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.fk_marke, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.laikotarpis, Model.LaikotarpisList, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.laikotarpis, "", new { @class = "text-danger" })
        </div>
    </div>

    <table class="table table-striped">
        <tr style="background-color:lightblue">
            <th>
                @Html.DisplayNameFor(model => model.neaktyvus[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.neaktyvus[0].surname)
            </th>
            <th>
                C
            </th>
            <th>
                D
            </th>
            <th>
                E
            </th>
        </tr>

        @if (Model.neaktyvus.Count == 0)
        {
            <tr>
                <td colspan="4" align="center"><b style="color:red;">Nurodytu laikotaarpiu visi vartotojai buvo prisijungę</b></td>
            </tr>
        }

        @foreach (var item in Model.neaktyvus)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surname)
                </td>
                <td>
                    C
                </td>
                <td>
                    D
                </td>
                <td>
                    E
                </td>
            </tr>
        }*/

    </table>
}

