
@model dynamic
@{
    ViewBag.Title = "Naujienlaiskis";
}
<style>
    #parent_div_1, #parent_div_2 {
        width: 40%;
        height: 70%;
        margin-right: 10%;
        float: left;
    }
</style>
<h2 align="center"> @Html.Label("", (string)ViewBag.Message)</h2>
@foreach (var book in Model.Book)
{
    if (book.id == 9)
    {
        foreach (var author in Model.Author)
        {
            if (author.ID == book.FK_author_id)
            {
                <div align="center" style="padding-top:10%">
                    <div id="parent_div_1" style="padding-left:20%;">
                        <h4>Knyga: @book.Title</h4>

                        <h5>Autorius: @author.Name @author.Surname</h5>
                        <img src="book.Image" width="140" height="190">
                    </div>
                    <div class="modal-dialog two-col">
                        <div class="modal-body col1">
                            <form>
                                <div id="parent_div_2">
                                    <div class="form-group row">

                                        <label>Aprašymas</label>
                                        <div> </div>
                                        <textarea id="Aprašymas" type="text" cols="200" rows="5" readonly>@book.Description</textarea>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            }
        }
    }
}
<div style="padding-top:30%"></div>