<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Biblioteka 389", "AfterLogin", "Register", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Knygos", "Index", "Home")</li>
                    @if (@Session["type"].Equals(2))
                    {
                        <li>
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ataskaitos
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>@Html.ActionLink("Užsakymų istorija", "UzsakymuIstorija", "Ataskaita")</li>
                                <li>@Html.ActionLink("Knygų statistika", "KnyguStatistika", "Ataskaita")</li>
                                <li>@Html.ActionLink("Neaktyvūs vartotojai", "NeaktyvusVartotojai", "Ataskaita")</li>
                                <li>@Html.ActionLink("Metinė/mėnesinė ataskaita", "MetMenAtaskaita", "Ataskaita")</li>
                                <li>@Html.ActionLink("Įsiskolinę skaitytojai", "IsiskolineSkaitytojai", "Ataskaita")</li>
                                <li>@Html.ActionLink("Ataskaitų siuntimas", "AtaskaituSiuntimas", "Ataskaita")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Knygų įtraukimas", "About", "Home")</li>
                    }
                    @if (@Session["type"].Equals(3))
                    {
                        <li>@Html.ActionLink("Vartotojai", "Contact", "Home")</li>
                    }
                    <li>@Html.ActionLink("Paskyra", "Contact", "Home")</li>
                </ul>
                <p class="name"><a class="btn btn-primary" href="/Register/Logout"> Atsijungti</a></p><p class="name sveiki"> Sveiki, @Session["name"]!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Kaunas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>

<style>
    .name {
        padding: 10px;
        padding-bottom: 0px;
        color: white;
        float: right;
    }
    .sveiki {
        padding-top: 18px;
    }
</style>